<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exm.demo.mapper.StudentMapper">
    <!--查询-->
    <select id="getStuDentById" resultType="com.exm.demo.domain.Student">
       select * from tbl_student where id=#{id}
    </select>
    <!--插入-->
    <insert id="insertStudent" >
        insert  into tbl_student(name,age,performance,classes) values(#{name},#{age},#{performance},#{classes})
    </insert>
</mapper>